table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .headSection{
    padding: 12px;
    background-color: green;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
  lightning-button.slds-m-around_small {
    font-size: 14px;
  }
  tr:first-child{
    background-color: #dddddd;
  }